.container {
  height: 300%;
  display: flex; /*내용크기에 맞춰 가로방향으로 그러니까 오른쪽으로 덧붙인다. */
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
}
.traiiler{
        width: 50%;
        border-width: 10;
        margin: 7px 24px 0 0;
      }
.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}